
<body ng-controller="IndexCtrl">
	<h2>CGC</h2>
	<p>Welcome to CGC Dashboard</p>
	<ul id="messages"></ul>
	      <input id="m" autocomplete="off" />
	      <button ng-click="sendMessage();" >Send</button>
</body>