
<body>
	<h2>CGC</h2>
	<p>Welcome to CGC Dashboard</p>
	<ul id="messages"></ul>
	    <form action="">
	      <input id="m" autocomplete="off" />
	      <button onclick="sendMessage(); return false;" >Send</button>
	    </form>
</body>